﻿.main-header
{
	height:40px;	
	border:1px solid silver;
}

.icon-button-large
{
	height:38px;
	width:38px;
		cursor: pointer; 
	cursor: hand; 
}

.icon-button-small
{
	height:24px;
	width:24px;
		cursor: pointer; 
	cursor: hand; 
}

.main-title
{
	font-size:larger;
	text-align:center;
	
}

.float-left
{
/*width: 300px;
height: 200px;*/
margin: 5px 10px 5px 10px;
overflow: hidden;
position: relative;
float: left;
white-space: pre-wrap;      /* CSS3 */ 
}

.float-clear
{
	clear: both;
}

.float-none
{
    float:none;
}

.float-inherit
{
	float:inherit;
	overflow: hidden;
}

li
{
	list-style-type:none;
	padding-left:0;
	 list-style-position: inside;
}


.items {
overflow: hidden;
width: 1035px;
margin: 17px auto 0 auto;

}

.item-li {
overflow: hidden;
float: left;
height: 460px;
margin: 0 15px 13px 0;
width: 327px;
border: 1px solid silver;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
-ms-border-radius: 5px;
-o-border-radius: 5px;
border-radius: 5px;
-webkit-box-shadow: rgba(0, 0, 0, 0.3) 1px 1px 2px;
-moz-box-shadow: rgba(0, 0, 0, 0.3) 1px 1px 2px;
box-shadow: rgba(0, 0, 0, 0.3) 1px 1px 2px;
background-color: white;
}

.item-title {
background-image: url("../images/titlebg2.png");
background-repeat: no-repeat;
width: auto;
height: 43px;
margin: 12px 0 0 0;
overflow: hidden;
}

.item-image {
width: 285px;
height: 176px;
margin: 9px auto 0 auto;
overflow: hidden;
position: relative;
}

.item-thumbnail {
width: 285px;
height: 59px;
margin: 1px auto 0 auto;
overflow: hidden;
position: relative;
}

.item-pic {
width: 94px;
height: 59px;
margin: 0 1px 0 0;
overflow: hidden;
position: relative;
float: left;
white-space: pre-wrap;      /* CSS3 */  
}

.item-info {
overflow: hidden;
width: 285px;
height: 55px;
margin: 20px auto 0 auto;
color: #666666;
font-size: 13px;
line-height: 1.3em;
}

.item-stats {
margin: 20px 19px 0 0;
height: 30px;
float: right;
font-size: 13px;
}

.profile-table{
    border: 1px solid black;
    table-layout: fixed;
    width: 200px;    
}

.profile-td {
    border: 1px solid black;
    overflow: hidden;
    width: 100px;
}

.temp_rel_content
{
   width:100px;
}

